/* main styles */
/* * {
    font-family: 'Segoe UI';
} */
body{
    height:300px;
}
.ui-dialog {
    background-color: black;
}
@font-face {
    font-family:"Cassandra";
    src: url("../fonts/Cassandra.ttf") /* EOT file for IE */
}

/*Whole Page*/
.container{
    height:300px; 
    width:180px;
   
}
/*Logo and setitng button*/
.header-wrapper{
    position: relative;
}
.extension-name{
    float: left;
    width: 75%;
    height: 20%;
}
.extension-name p{
    font-family:"Cassandra";
    margin: 0 0;
    font-size: 1.1em;
}
.setting-button  {
    float: left;
    width: 5%;
    height: 20%;
    margin: 7% 5% 5% 5%
}
/*Clock*/
.timer-wrapper{
    position: relative;
}
.minute-display{
    width: 50%;
    float: left;
}
.minute-display p{
    font-size: 2.5em;
    margin: 0 0;
    float: right;
}
.second-display{
    width: 50%;
    float: left;
}
.second-display p{
    font-size: 2.5em;
    margin: 0 0;
}
.progress-wrapper {
    width: 70%;
    margin: 0 auto;
}
/*Reward area*/
.progress-wrapper img {
    display:inline-block;
  
}

.footer{
    text-align: center;
}
.settingTest{
    text-align: center;
}
         
